body {
    margin: 0 10px;
    padding: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}

.navbar {
    background-color: #f0f0f0;
}

.navbar a {
    margin-right: 40px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding-right: 10px;
}

.content {
    padding: 30px;
    margin: 0 auto;
    max-width: 900px;
}

.navbar-nav .btn {
    margin-right: 40px;
    color: #333;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    background: none;
}

.navbar-nav .btn:hover {
    background-color: #ADD8E6 !important;
    color: #0c63e4;
}

/* Card Hover Effect */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
